*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#header{
	display: flex;
	flex-direction: row;
	background-color: #34647f;
}
#header #other{
	flex-grow: 1;
	display: flex;
	flex-direction: row;

}
#header #account{
	flex-grow: 0;
        display: flex;
        flex-direction:row;
          
}
#header a{
	font-family: monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
	color: white;
	font-size: 18px;
	background-color: black;
	text-decoration: none;
	transition: 0.3s;
}
#header a:hover{
	background-color: white;
	color: black;
}
img{
	width: 55px;
	height: 50px;
	flex-grow: 0;
}
#all img :hover{
	display: flex;
	flex-direction: row;
	background-color: blue;

}
/*#header #account>a:last-child{
	background-color: #eee;
	color: black;
}
#header #account>a:last-child:hover{
	background-color: black;
	color: white;
}*/

@media (max-width:850px){
	#header{
	display: flex;
	flex-direction: column;
	background-color: #34647f;
	}
	#header #other{
		display: flex;
		flex-direction: column;
	}
}